@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
:root{
	/* Colors */
	--color-white: #F7F7F7;
	--color-orange: #FFA602;
	--color-pink: #BC5090;
	--color-purple: #58508D;
	--color-blue: #00405C;
	--color-light-blue: #006895;
	--color-gray: #31363A;

	/* Fonts */
	--title-font: 'Montserrat', sans-serif;
	--text-font: 'Montserrat', sans-serif;
	--logo-font: 'KoHo', sans-serif;
	--text-black: #272727;
	--text-white: #FFFFFF;
	--button-font-size: 18px;
}

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: var(--title-font);
	padding: 0;
	margin: 0;
}

h1{
	font-size: 64px;
}
h2{
	font-size: 48px;
}
h3{
	font-size: 40px;
}
h4{
	font-size: 24px;
}
p, span, ul{
	font-family: var(--text-font);
	padding: 0;
	margin: 0;
}

button{
	cursor: pointer;
}

/* Buttons */
.action-button{
	background-color: var(--color-orange);
	font-size: var(--button-font-size);
	font-family: var(--text-font);
	font-weight: 600;
	padding: 8px 16px;
	border: none;
	border-radius: 8px;
}
.info-button{
	color: var(--color-white);
	background-color: transparent;
	border: 2px solid var(--color-white);
	font-size: var(--button-font-size);
	font-family: var(--text-font);
	font-weight: 600;
	padding: 8px 16px;
	border-radius: 8px;
}

/* Header */
.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--color-blue);
	color: var(--color-white);
	height: 110px;
	padding: 0px 40px;
}
.header *{
	display: inline;
}
.header > div{
	flex-grow: 1;
}

/* Header Menu */
.header .menu{
	display: flex;
	justify-content: flex-end;
}
.header .menu a{
	color: var(--color-white);
	text-decoration: none;
}
.header .menu img{
	display: none;
}
.header .menu ul{
	list-style-type: none;
	height: 100%;
}
.header .menu li{
	padding: 0px 8px;
	display: inline-block;
	line-height: 110px;
}
.header .menu li:hover{
	background-color: var(--color-orange);
}

/* Header Logo */
.header .logo{
	display: flex;
	align-items: center;
}
.header .logo img{
	width: 64px;
	height: 62px;
}
.header .logo h3{
	font-family: var(--logo-font);
	font-weight: normal;
	margin: 0px 8px;
}

/* Footer */
/* Footer Top */
.footer .footer-top{
	background-color: var(--color-gray);
	padding: 48px 0px;
}
.footer .footer-top .social-media {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
}
.footer .footer-top .social-media button{
	height: 44px;
	width: 44px;
	border-radius: 100%;
	border: none;
	background-color: var(--color-orange);
	margin: 0px 8px;
}
.footer .footer-top .social-media button:hover{
	background-color: var(--color-white);
}
.footer .footer-top .social-media button img{
	width: 100%;
}
.footer .footer-top .footer-links{
	display: flex;
	justify-content: center;
} 
.footer .footer-top .footer-links ul{
	list-style-type: none;
	padding: 0px;
}
.footer .footer-top .footer-links a{
	color: var(--color-white);
	text-decoration: none;
	padding: 0px 24px;
}
.footer .footer-top .footer-links a:hover{
	color: var(--color-orange);
}
.footer .footer-top .footer-links .white-borders{
	border-left: 1px solid var(--color-white);
	border-right: 1px solid var(--color-white);
}
.footer .footer-top .footer-links ul li{
	display: inline;
}
/* Footer Bottom */
.footer .footer-bottom{
	background-color: var(--color-orange);
	color: var(--color-white);
	padding: 32px 8px;
}
.footer .footer-bottom .bold-text{
	font-weight: bold;
	text-align: center;
	margin-bottom: 16px;
}
.footer .footer-bottom .thin-text{
	text-align: center;
}


/* Services */
.services-wrapper{
	text-align: center;
	background-color: var(--color-blue);
	padding: 128px 0px 70px 0px;
}
.services{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}
.services > div{
	background-color: var(--color-light-blue);
	color: var(--color-white);
	max-width: 280px;
	text-align: center;
	padding: 24px 8px;
	margin: 0px 20px;
	min-height: 650px;
	position: relative;
}
.services > div img{
	width: 214px;
	height: 214px;
	border-radius: 100%;
	padding: 8px 0px;
}
.services > div h2{
	padding: 8px 0px;
}
.services > div p{
	padding: 8px;
}
.services > div button{
	width: 100%;
	margin: 8px 0px;
}
.services .services-buttons{
	margin: 0 8px;
	position: absolute;
	bottom: 32px;
	left: 8px;
	right: 8px;
}
.services-wrapper .services-title{
	max-width: 1200px;
	margin: 0px auto 100px auto;
	color: var(--color-white);
}
.services-wrapper .services-title > *{
	margin: 20px 0px;
}
.services-wrapper .services-title img{
	width: 167px;
	height: 167px;
}

/* Hero Banner */
.hero-banner{
	width: 100%;
	height: 512px;
	background: url('images/herobannerindex.png');
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.hero-banner .center{
	text-align: center;
}
.hero-banner .banner-container{
	color: var(--color-white);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 10;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hero-banner .banner-container span{
	font-size: 24px;
	margin-bottom: 44px;
}
.hero-banner .banner-container button{
	margin: 0 12px;
}


/* Black Screen */
.black-screen{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}


/* Simple Banner */
.simple-banner{
	display: flex;
	flex-direction: row;
	padding: 98px 0px;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	color: var(--color-black);
}
.simple-banner > div{
	text-align: center;
	margin: 0 60px;
}
.simple-banner p{
	font-size: 24px;
	max-width: 800px;
	margin: 16px 0;
}
.simple-banner.reverse{
	flex-direction: row-reverse;
}

/* Search */
.search-wrapper{
	background-color: var(--color-purple);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 52px 0;
	color: var(--color-white);
}
.search-wrapper > div{
	text-align: center;
	margin: 20px 25px;	
}
.search-wrapper .search input{
	border-radius: 8px 0px 0px 8px;
	display: inline;
	width: 440px;
	font-family: var(--text-font);
	font-size: 24px;
	outline: 0;
	border: none;
	padding: 15px 21px 15px 0px;
	text-indent: 21px;
}
.search-wrapper .search button{
	border-radius: 0px 8px 8px 0px;
	display: inline;
	width: 136px;
	background-color: #BC5090;
	font-family: var(--text-font);
	padding: 16px 21px;
	outline: 0;
	border: none;
	font-size: 24px;
	color: var(--color-white);
}

/* Media Query para mobile */
@media (max-width: 425px){
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 24px;
	}
	h3{
		font-size: 20px;
	}
	h4{
		font-size: 20px;
	}
	.header{
		padding: 0px 16px;
		height: 42px;
	}
	.header .logo img{
		width: 27px;
		height: 26px;
	}
	.header .menu img{
		display: block;
		max-width: 22px;
	}
	.header .menu ul{
		display: none;
	}
	
	.hero-banner{
		height: 400px;
	}
	.hero-banner .banner-container h1{
		text-align: center;
		font-size: 32px;
		margin-bottom: 8px;
	}
	.hero-banner .banner-container span{
		text-align: center;
		padding: 0px 16px;
	}
	.hero-banner .banner-container > div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.hero-banner .banner-container button{
		font-size: 16px;
		margin: 8px 0;
	}
	.simple-banner{
		max-width: 100%;
		padding: 48px 0px;
	}
	.simple-banner > div{
		margin: 0px 16px;
		height: auto;
	}
	.simple-banner img{
		max-width: 50%;
		margin-bottom: 10px;
	}
	.services-wrapper{
		padding: 24px 8px;
	}
	.services-wrapper .services-title{
		padding: 0px 16px;
		text-align: center;
	}
	.services-wrapper .services-title img{
		max-width: 50%;
		height: auto;
	}
	.search-wrapper .search{
		max-width: 100%;
	}
	.search-wrapper .search input{
		width: 70%;
	}
	.search-wrapper .search button{
		width: 30%;
	}
	.services > div{
		max-width: 80%;
		height: auto;
		min-height: auto;
		margin-bottom: 24px;
	}
	.services-wrapper .services-title{
		margin: 0px auto 24px auto;
	}
	.services .services-buttons{
		position: initial;
	}
	.services > div img{
		width: 50%;
		height: auto;
	}
	.search-wrapper .search button, .search-wrapper .search input{
		font-size: 16px;
	}
	p, span{
		font-size: 16px !important;
	}
}
